*{
    font-family: 'Original Surfer', cursive;
}
#header{
    color: white;
    background: linear-gradient(45deg, rgba(235, 14, 14, 0.5),rgb(122, 91, 91) );
    /* background: rgba(230, 55, 35, 0.518); */
}
#menu{
    list-style: none;
    margin:0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    display: block;
    padding: 15px 10px;
    color: #fff;
    transition: all ease-in-out .7s;
}
#menu li a:hover{
    text-decoration: none;
    background: #c03c2d;
}
.section{
    background: url('./images/background2.jpg') no-repeat rgba(0,0,0,0.7);
    background-size: cover;
}

.service-box{
    text-align: center;
    border: rgb(185, 15, 15);
}
.service-box img{
    width:300px;
    height:300px;
    border: 2px solid white;  
    border-radius: 60px 0px;
      
}
.service-box img:hover{
    transform: scale(1.10);
    transition: all ease-in-out .7s;
}
#testimonials{
    background: url('./images/banner3.webp') no-repeat rgba(58, 57, 57, 0.5) ;
    
    background-size: cover;
    padding: 50px 0;
    position: relative;
}
.testimonial img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}
#form{
    background:linear-gradient(45deg, rgb(128, 8, 8),rgb(26, 25, 25)); ;
}
#form .btn{
    background:linear-gradient(45deg, rgb(161, 6, 6),rgb(26, 25, 25)) ;
}
#footer-sidebar{
    color:#fff;
    /* background: linear-gradient( rgb(26, 25, 25),rgb(104, 102, 102)); */
    background: url('./images/banner3.webp') no-repeat rgba(0,0,0,0.7);
    background-blend-mode:darken ;
    
    background-size: cover;
    color:white;
    padding: 20px 0;
}
#footer-sidebar li{
    list-style: none;
}
#footer-sidebar a{
    color:#fff;
    text-decoration: none;
}
#footer-sidebar a:hover{
    color: #e74c3c;
    text-decoration: none;
}
